* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 8px;
    text-decoration: none;
}

.topbar {
    height: 80px;
}

.icon {
    height: 30px;
}

.contents {
    max-width: 960px;
    margin: 0 auto;
}

.music {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.music-logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.img {
    width: 100%;
    object-fit: cover;
}

.music-name {
    font-size: 1.4em;
    margin-bottom: 10%
}

.music-desc {
    margin-left: 20px;
}

.music-href {
    margin-left: auto;
    transition: all 0.3s;
}

.music-href:hover {
    transform: scale(1.03);
}

.muisc-info {
    display: block;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 666px) {
    .music {
        display: flex;
        flex-direction: column;
    }
    .music-logo {
        margin-bottom: 5%;
    }
    .music-name {
        margin-bottom: 5%;
    }
    .music-desc {
        margin-bottom: 5%;
    }
    .music-href {
        margin-right: auto;
    }
    .button {
        padding: 8px 50px;
    }
}

.copyright {
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}